<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>
    DrawOnline
  </title>
    <style>
    html{
      height: 100%;
      margin:0px;
    }
    body{
      height: 100%;
      margin:0;
    }
    h1{
      font-size: 40px;
    }
    .canvas {
    padding: 0px;                      /* 余白指定 */
    background-color:#FFF;           /* 背景色指定 */
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    border-radius: 10px;
    width:980px;
    height:auto;                  /* 高さ指定 */
    }
    canvas{
      width:980px;
      height:auto;     
    }
    .HStack{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .clear{
      border:2px solid #1b7fd9;
      border-radius: 0.67em;
      background-color: #FFFFFF;
      width: 180px;
      height: 50px;
      color: #1b7fd9;
      font-size: 16px;
    }
    .tool{
      border:2px solid #1b7fd9;
      border-radius: 0.67em;
      background-color: #FFFFFF;
      width: 100px;
      height: 50px;
      color: #1b7fd9;
      font-size: 16px;
    }
    .submit{
      border:2px solid #1b7fd9;
      border-radius: 0.67em;
      background-color: #1b7fd9;
      width: 180px;
      height: 50px;
      color: #FFFFFF;
      font-size: 16px;
    }

    </style>
<script src="/js/canvas.js"></script>
  <script>
    //コンストラクタ(手書きキャンバスのId名, 手書きキャンバスのクリアボタンのId名)
    var mamHandwritten1=new TMamHandwritten("canvas<%=@project.id%>");
    //保存ボタンを押したときに呼ばれる関数
    window.addEventListener("DOMContentLoaded",function(){
      document.getElementById("submitButtonId").addEventListener("click",function(){
        mamHandwritten1.savePicture("/save");
      });  
    });
  </script>
</head>

<body>
<div align="center" style="width:100%; height:1000px;background-color:#2b8fe9">
  <div align="left" style="width:1000px; height:100%;background-color:#FFF;padding:30px">
      <h1 >Draw<font color="#2b8fe9">Online</font></h1>
      <h2 ><%=@project.title%></h2>
      <h3 align="left">Created by:<font color="#2b8fe9"><%=@project_author%></font> Now author:<font color="#2b8fe9"><%=@now_author%></font></h3>      
    <div class="canvas">
      <canvas id="canvas<%=@project.id%>" width="1280px" height="720px"  ></canvas>
    </div>
    <div class="HStack" style="width:220px;margin:20px">
    <input class="tool" type="button" id="eraser" value="消しゴム"/>
    <input class="tool" type="button" id="color" value="鉛筆"/>
    </div>
    <div class="HStack" style="width:390px;margin:20px">
    <input class="clear" type="button" id="clear" value="操作をすべて取り消す"/>
    <input class="submit" type="submit" id="submitButtonId" value="保存して終了する"/>
    </div>
  </div>
</div>

</body>

</html>