<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>
    BulletinBoard
  </title>
</head>

<body>
  <h1 align="left">BulletinBoard</h1>
  <p>こんにちは。 <%=@now_user_name%> さん</p>
  <form action="/logout" method="post">
    <input type="submit" value="ログアウト" style="font-size: 20px">
  </form>
  <hr>
  <h2 align="center">タイムライン</h2>
  <table align="center" style="max-width: 700px" border="1">
    <% @posts.each do |message| %>
      <tr>
        <td>
          <div style="margin:10px;display:flex">
            <div style="margin-right:10px">
              <img src="https://placehold.jp/150x150.png" alt="アイコン" width="50" height="50">
            </div>
            <div>
              <div>
                <b>
                  <%= message.user_name %>
                </b>@user_<%= message.user_id %>・<%= message.date_relative %>
              </div>
                <%= message.msg %>
              <% if message.user_id == @now_user_id %>
                <form action="/delete" method="post">
                  <input type="hidden" name="delete_id" value="<%= message.id %>">
                  <input type="submit" value="削除">
                </form>
              <% end %>
            </div>
            </div>
          </div>
        </td>
      </tr>
      <% end %>
  </table>
  <hr>
  <h2 align="center">投稿</h2>
  <form action="/post" method="post">
    <table align="center">
      <tr>
        <td>本文</td>
        <td><input type="text" name="message" style="font-size: 20px" placeholder="いまどうしてる?"></td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <input type="submit" value="投稿" style="font-size: 20px">
        </td>
      </tr>
    </table>
  </form>



</body>

</html>
